@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --label: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --bg: hsl(185, 41%, 84%);
  --input-bg: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --hover: hsl(172, 67%, 75%);
  --error: indianred;
}

body {
  background-color: var(--bg);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

input[type="text"] {
  background-color: var(--input-bg);
  background-repeat: no-repeat;
  background-position: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--dark-cyan);
  font-size: 2.4rem;
  padding: 0.6rem 1.7rem 0.6rem 1rem;
  text-align: right;
  width: 100%;
}

input[type="text"]:not(.input-custom)::placeholder {
  color: var(--dark-cyan);
  opacity: 0.4;
  
}

input[type="text"]:not(.active .input-people):focus {
  outline: 0.2rem solid var(--strong-cyan);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked + label {
  background-color: var(--strong-cyan);
}

.heading {
  color: var(--dark-cyan);
  opacity: 0.8;
  font-size: 2.3rem;
  line-height: 1.5;
  letter-spacing: 1.2rem;
  margin: 4.5rem 0 3rem;
  text-align: center;
  text-transform: uppercase;
}

.calculator {
  background-color: var(--white);
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 3.5rem 2.5rem;
  max-width: 50rem;
}

.form {
  padding: 0 0.8rem;
}

.label {
  display: block;
  color: var(--label);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.input-bill {
  background-image: url("../images/icon-dollar.svg");
  margin-bottom: 4rem;
}

.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 2rem 0 3.5rem;
}

.radio-btn {
  display: block;
  background-color: var(--dark-cyan);
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 2.4rem;
  padding: 1.2rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.radio-btn:hover {
  background-color: var(--hover);
}

.input-custom::placeholder {
  color: var(--dark-cyan);
  opacity: 0.7;
}

.input-people {
  background-image: url("../images/icon-person.svg");
}

.output {
  background-color: var(--dark-cyan);
  border-radius: 1.5rem;
  margin-top: 3rem;
  padding: 4.5rem 2.5rem 2.5rem;
}

.tip-number {
  color: var(--strong-cyan);
  font-size: 3.2rem;
  float: right;
}

.tip-name {
  color: var(--white);
  font-size: 1.6rem;
}

.sub {
  color: var(--grayish-cyan);
  font-size: 1.3rem;
  margin: 0.8rem 0 3rem;
}

.reset {
  background-color: var(--strong-cyan);
  border-radius: 0.5rem;
  color: var(--dark-cyan);
  display: block;
  font-size: 2rem;
  margin-top: 3.5rem;
  padding: 1.4rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.reset:disabled {
  color: var(--grayish-cyan);
  background-color: var(--bg);
  cursor: auto;
  opacity: 0.2;
}

.reset:not(:disabled):hover {
  background-color: var(--hover);
}

/* === JAVASCRIPT === */
.error {
  color: var(--error);
  font-size: 1.6rem;
  float: right;
  display: none;
}

.active .error {
  display: block;
}

.active .input-people {
  outline: 0.2rem solid var(--error);
}

/* === LAPTOP SIZE === */
@media (min-width: 700px) {
  .calculator {
    border-radius: 2.5rem;
    box-shadow: -0.6rem 2rem 2rem 0rem hsl(183, 100%, 15%, 0.1);
  }
}

/* === DESKTOP SIZE === */
@media (min-width: 1200px) {
  .heading {
    margin-bottom: 8rem;
  }

  .calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 4.5rem;
    padding: 3rem;
    max-width: 92rem;
  }

  .form {
    padding: 2rem 1rem 2rem 2rem;
  }

  .radio-group {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4.5rem;
  }

  .output {
    padding: 6rem 4rem 3rem;
    margin-top: 0;
  }

  .tip-number {
    font-size: 4.7rem;
  }

  .sub {
    margin-bottom: 6rem;
  }

  .reset {
    margin-top: 13.5rem;
  }
}
